@import url('https://fonts.googleapis.com/css?family=Covered+By+Your+Grace');


.background {
  display: grid;
  grid-template-columns: 100vh;
  grid-template-rows: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
	background-position: bottom center;
  background-image: url("https://i.imgur.com/qaTgrqF.jpg");
  // background: auto;
  // margin: 0px;
  // min-height: 100%;
  // width: 100%;

}

.title {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 30%;
  width: 50%;
  line-height: 40px;
  margin: -40% 0 0 -25%;
  text-align: center;
  font-family: 'Covered By Your Grace', cursive;
  font-size: 55px;
}

.container {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50%;
  width: 400px;
  height: 100px;
  .search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background: LightSkyBlue;
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
    // box-shadow: 0 0 25px 0 LightSkyBlue;
    &:hover {
      cursor: pointer;
    }
    &::before {
      content: "";
      position: absolute;
      margin: auto;
      top: 22px;
      right: 0;
      bottom: 0;
      left: 22px;
      width: 12px;
      height: 2px;
      background: white;
      transform: rotate(45deg);
      transition: all .5s;
    }
    &::after {
      content: "";
      position: absolute;
      margin: auto;
      top: -5px;
      right: 0;
      bottom: 0;
      left: -5px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 2px solid white;
      transition: all .5s;
    }
  }
  input {
    font-family: 'Covered By Your Grace', cursive;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    // border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: LightSkyBlue;
    color: black;
    text-shadow: 0 0 10px LightSkyBlue;
    padding: 0 80px 0 20px;
    border-radius: 30px;
    box-shadow: 0 0 25px 0 LightSkyBlue,
                0 20px 25px 0 rgba(0, 0, 0, 0.2);
    // box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, 0.5);
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      width: 300px;
      opacity: 1;
      cursor: text;
    }
    &:focus ~ .search {
      right: -250px;
      background: #151515;
      z-index: 6;
      &::before {
        top: 0;
        left: 0;
        width: 25px;
      }
      &::after {
        top: 0;
        left: 0;
        width: 25px;
        height: 2px;
        border: none;
        background: white;
        border-radius: 0%;
        transform: rotate(-45deg);
      }
    }
    &::placeholder {
      color: white;
      opacity: 0;
      font-weight: bolder;
    }
  }
}




// .landingpage-wrapper {
//   display: grid;
//   grid-template-columns: 1510px;
//   grid-template-rows: 100vh;
// }
