.wrapper {
  display: grid;
  grid-template-columns: 250px 1fr 250px;
  grid-template-rows: 100vh;
}

.main-view {
  display: grid;
  grid-template-columns: 100vh;
  grid-template-rows: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  // globe image
  background-image: url("https://images.pexels.com/photos/346885/pexels-photo-346885.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") //bus image
    // background-image: url("https://i.imgur.com/qaTgrqF.jpg");

    // grid-column: 2/3;
}

.weather-container {
  padding-bottom: 2rem;
}

.images-container {
  font-family: 'Gothic A1',
    sans-serif;
  display: flex !important;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: rgb(202, 182, 240);
  padding-left: 2rem;
  padding-top: 1.5rem;
  overflow-y: scroll;
}

.main-weather {
  padding-top: 5rem;
  background-color: rgb(247, 193, 176);
  // grid-column: 2/3;
  font-family: 'Gothic A1', sans-serif;
  text-align: center;
  // padding-left: ;
}

.side-panel {
  background-color: #dae0ea;

  // grid-column: 1/2;
  &>ul {
    padding-top: 4rem;
    list-style-type: none;

    &>li {
      font-family: 'Gothic A1', sans-serif;
      transition: all 0.4s ease;
      padding-bottom: 2.5rem;
      font-size: 1.2rem;
      color: rgb(28, 82, 163);
      cursor: pointer;
    }

    &>li:hover {
      color: rgb(145, 197, 235);
    }
  }
}




.details {
  background-color: #dae0ea;
  font-family: 'Gothic A1', sans-serif;


  &>.time {
    color: rgb(28, 82, 163);
    padding-top: 1rem;
    font-size: 1.2rem;
    padding-left: .4rem;

    &>strong {
      color: rgb(24, 37, 151);
      font-weight: 700;


    }
  }
}

.fas {
  font-size: 1.5rem;
  padding-right: .8rem;
}


.img-container {
  width: 400px;
  height: 250px;
  border-radius: 5px;
}

.img-div {
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.place-container {
  background-color: rgb(176, 240, 176);
  font-family: 'Gothic A1',
    sans-serif;
  text-align: center;
  padding-top: 2rem;

  &__div {
    padding-bottom: 2rem;
  }
}

.address {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

.airport-container {
  font-family: 'Gothic A1',
    sans-serif;
  background-color: rgb(238, 203, 139);
  text-align: center;
  padding-top: 2rem;
}

.airport-detail {
  padding-bottom: 2rem;
}

.fa-home {
  // padding-top: 2.5rem;
}