.wrapper {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: 100vh;
}

.main-view {
  background-color: red;
  // grid-column: 2/3;
}

.side-panel {
  background-color: blue;
  // grid-column: 1/2;
}

.details {
  background-color: green;
}